[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spima"]
	path = spima
	url = https://github.com/haichuanyu0703/spima
	subdir = spima
